<mat-card>
  <div class="row">
    <div class="col">
      <mat-form-field class="w-100">
        <input matInput placeholder="Фильтр" (keyup)="dataSource.filter = ($event.target.value)">
      </mat-form-field>
    </div>
  </div>
  <mat-table matSort #table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header="id">ID</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="login">
      <mat-header-cell *matHeaderCellDef mat-sort-header="login">Логин</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.login}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="fam">
      <mat-header-cell *matHeaderCellDef mat-sort-header="fam">Фамилия и инициалы</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fam}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="fun">
      <mat-header-cell *matHeaderCellDef>Функции</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button *ngIf="element.fun.edit" mat-icon-button color="primary"
                matTooltip="Редактировать пользователя">
          <mat-icon aria-label="edit">edit</mat-icon>
        </button>
        <button *ngIf="element.fun.view" mat-icon-button color="primary"
                matTooltip="Просмотр информации о пользователе">
          <mat-icon aria-label="view">assignment_ind</mat-icon>
        </button>
        <button *ngIf="element.fun.delete" mat-icon-button color="primary" matTooltip="Удалить пользователя">
          <mat-icon aria-label="delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 25, 50]">
  </mat-paginator>
</mat-card>
